@import url(http://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif);

@link-color: #7A0019;

h1, h2, h3 {
  font-family: 'Noto Serif', serif;
  color: #7A0019;
}
  
body, p, h4, h5, h6 {
  font-family: 'Noto Sans', sans-serif;
}