{% assign sorted_pages = site.pages | sort:"path" %}
        
<h4>Required Rotations</h3>
        
<ul>
{% for page in sorted_pages %}
{% if page.categories contains 'rotations' and page.categories contains 'cp' and page.categories contains 'required' %}
    <li>
        {% assign content_size = page.content | size %}
        {% if content_size > 0 %}
            <a href="{{site.baseurl}}{{page.url}}">{{ page.title }}</a>
        {% else %}
            {{ page.title }}
        {% endif %}
    </li>
{% endif %}
{% endfor %}
</ul>

<h4>Elective Rotations</h3>

<ul>
{% for page in sorted_pages %}
{% if page.categories contains 'rotations' and page.categories contains 'cp' and page.categories contains 'elective' %}
    <li>
        {% assign content_size = page.content | size %}
        {% if content_size > 0 %}
            <a href="{{site.baseurl}}{{page.url}}">{{ page.title }}</a>
        {% else %}
            {{ page.title }}
        {% endif %}
    </li>
{% endif %}
{% endfor %}
</ul>

