<ul class="nav nav-tabs nav-stacked">
  <li><a href="{{ site.baseurl }}/about/">About Our Program</a></li>
  <ul>
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li><a href="#">Separated link</a></li>
        <li><a href="#">One more separated link</a></li>
  </ul>
  </li>
  <li><a href="{{ site.baseurl }}/prospective_residents/">Prospective Residents</a></li>
  <li><a href="{{ site.baseurl }}/prospective_fellows/">Prospective Fellows</a></li>
  <li><a href="{{ site.baseurl }}/current/">Current Residents</a></li>
</ul>
